<div class="container-fluid my-4">
  <div class="card-body shadow mx-5">
    <form [formGroup]="userForm">
      <div class="row">
        <h4>Survey Form</h4>
        <div class="row" formGroupName="personalDetails">
          <div class="col-md-6">
            <div class="form-group mb-2">
              <label>Enter Name:</label>
              <input type="text" class="form-control" placeholder="Enter Name" formControlName="username">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-2">
              <label>Enter Email:</label>
              <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-2">
              <label>Enter Contact Number:</label>
              <input type="number" class="form-control" placeholder="Enter Contact Number" formControlName="contact">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label>Enter Password:</label>
            <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label>Enter Confirm Password:</label>
            <input type="password" class="form-control" placeholder="Enter Confirm Password"
              formControlName="confirm_password">
          </div>
        </div>
        <div formArrayName="questions">
          <div *ngFor="let question of getQuestions().controls;let questionIndex=index ">
            <h6>Add Question #{{questionIndex+1}}</h6>
            <div class="row" [formGroupName]=questionIndex>
              <div class="col-md-12">
                <div class="form-group mb-2">
                  <label>Enter Question:</label>
                  <input type="text" class="form-control" placeholder="Enter Question" formControlName="question">
                  <div class="error" *ngIf="getQuestions().controls[questionIndex].get('question')?.hasError('required')">
                    Question
                    is required</div>
                </div>
              </div>
              <div formArrayName="options">
                <div *ngFor="let option of getOptions(questionIndex).controls;let optionIndex=index">
                  <div class="row" [formGroupName]=optionIndex>
                    <div class="col-md-3">
                      <div class="form-group mb-2">
                        <label>Enter Option {{optionIndex+1}}:</label>
                        <input type="text" class="form-control" placeholder="Enter Question" formControlName="option">
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <button class="btn me-1 btn-sm btn-secondary p-0" (click)="addNewOption(questionIndex)">
                    <span class="material-icons-outlined">
                      add
                    </span>
                  </button>
                  <button class="btn btn-sm btn-danger p-0">
                    <span class="material-icons-outlined">
                      delete
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-end my-3">
              <button class="btn me-1 btn-sm btn-secondary" (click)="addNewQuestion()"
                [disabled]="userForm.get('questions')?.invalid ">
                <span class="material-icons-outlined">
                  add
                </span>
              </button>
              <button class="btn btn-sm btn-danger" (click)="deleteQuestion(questionIndex)">
                <span class="material-icons-outlined">
                  delete
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <button class="btn btn-secondary" (click)="submit()">Submit</button>
      </div>
    </form>
  </div>
</div>
