<div class="container-fluid my-3">
  <div class="d-flex align-items-center justify-content-between">
    <!-- <div>{{title}}</div> -->
    <input #input>
    <div *ngFor="let item of array">{{item}}</div>

    <div class="border p-1">
      <button class="btn btn-dark" (click)="addCount()">+</button>
      Messages <span class="badge bg-dark me-1">{{countFromParent}}</span>
      Service <span class="badge bg-dark me-1">{{notificationCount$ | async}}</span>
      <button class="btn btn-dark" (click)="removeCount()">-</button>
    </div>
  </div>
</div>
