<div class="container-fluid my-3">
  <button class="btn btn-dark m-1" (click)="startInterval()">Start Interval</button>
  <button class="btn btn-dark m-1" (click)="stopInterval()">Stop Interval</button>
  <button class="btn btn-dark m-1" (click)="useObservable()">Use Observable</button>
  <button class="btn btn-dark m-1" (click)="useSubject()">Use Subject</button>
  <button class="btn btn-dark m-1" (click)="fetchData()">Fetch Data</button>
  <button class="btn btn-dark m-1" (click)="fetchDataBySubject()">Fetch Data using subject</button>
  <button class="btn btn-dark m-1" (click)="behaviourSubject()">Use Behaviour Subject</button>
  <button class="btn btn-dark m-1" (click)="merge()">Merge Example</button>
  <button class="btn btn-dark m-1" (click)="forkjoin()">Forkjoin Example</button>

</div>
